{% extends "network/layout.html" %}
{% load static %}

{% block body %}

{% block script %}
<script src="{% static 'network/like.js' %}"></script>
{% endblock %}

<div class="container">
    {% if user.is_authenticated %}
    {% for post in posts %}
    <div class="border border-light rounded pl-2 pr-2 pt-2 pb-2 mb -2">
        <h6> <a href="{% url 'profile' post.author.id %}"> {{ post.author }} </a> </h6>
        <p>{{ post.content }}</p>
        <p><small>{{ post.date_posted }}</small></p>
        {% if request.user not in post.likes.all %}
        <button class="btn btn-success btn-sm toggle-like" data-like-id="{{ post.id }}"
            id="toggle-like-{{ post.id }}">Like</button>
        {% else %}
        <button class="btn btn-danger btn-sm toggle-like" data-like-id="{{ post.id}}"
            id="toggle-like-{{ post.id }}">Unlike</button>
        {% endif %}
        <br>
        <small class="like-count" id="likes-{{ post.id }}" data-likes-id="{{ post.id }}">{{ post.likes.all.count }} </small>
    </div>

    {% endfor %}
    {% endif %}
</div>

{% endblock %}